@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>


    <div class="container body-content">
        @RenderBody()
       

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jstree")
    @Styles.Render("~/Content/treestyle")
</body>
</html>