@model SqlAdmin.Models.ConnectionParams

@{
    ViewBag.Title = "Index";
}

<head>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Connect", "Home")) { 
        <p>
            @Html.LabelFor(x=>x.ServerName)
            @Html.DropDownListFor(x => x.ServerName, new SelectList(ViewBag.servers), new { id="dropDownServers" })
        </p>
        <p>
            @Html.LabelFor(x => x.DataBase)
            @Html.DropDownListFor(x => x.DataBase, new SelectList(new List<string>()))
        </p>
        <p>
            Authentication
            @Html.DropDownListFor(x=>x.Authentication, new[]{
            new SelectListItem(){Text = "SQL Server Authentication", Value="SqlAuthentication"},
            new SelectListItem(){Text = "Windows Authentication", Value="WindowsAuthentication"}})
        </p>
        <p>
            @Html.LabelFor(x=>x.Login)
            @Html.TextBoxFor(x => x.Login)
        </p>
        <p>
            @Html.LabelFor(x=>x.Password)
            @Html.TextBoxFor(x => x.Password)
        </p>
        <input type="submit" value="Connect" />
            }
    </div>
    <script type="text/javascript">
        function getDatabases()
        {
            $.ajax({
                url: "AJAX/Index",
                type: "GET",
                data: "server=" + $("#dropDownServers").val().toString(),
                dataType: "html",
                success: 
                    function (data) {
                        $("#DataBase").html(data);
                    }
            }
                )
        }

        $(document).ready(function () {
            $("#ServerName").change(
                getDatabases()
                )
        }
            )
    </script>
</body>
