@using System.Data


<script type="text/javascript">

    $(document).ready(function () {

        $('#demo1').jstree({
            'core': {
                "themes": {
                    "dots": true,
                    "icons": true
                },
                "check_callback": true,
                'data': {
                    'url': function (node) {
                        return node.id === '#' ?
                          'Main/GetRootNodes' :
                          'Main/GetChildren';
                    },
                    'data': function (node) {
                        return {
                            'id': node.id,
                            'NodeData': node.data,
                            'NodeText': node.text

                        };
                    }
                }
            },
            "plugins": ["contextmenu", "themes", "ui"],
            "contextmenu": {
                "items": function ($node) {
                    return {
                        "create": {
                            "label": "Select First 100",
                            "action": function (node) {

                                $("#btnLaunch").val($node.text);
                                $("#btnLaunch2").val($node.data);
                                document.getElementById("Spec").click();
                            }
                        },
                        "SelectMore": {
                            "label": "Select First 1000",
                            "action": function (obj) {
                                $("#btnLaunch").val($node.text);
                                $("#btnLaunch2").val($node.data);
                                document.getElementById("Spec2").click();
                            }
                        }
                    };
                }
            }
        });

        $('#demo1').bind(
        "select_node.jstree", function (evt, data) {

            $.ajax({
                url: "@Url.Action("CashDB", "Main")",
                type: "POST",
                data: {
                    'NodeData': data.node.text
                },
                datatype: "string",
                success: function (data) {

                }
            });
        }
);

    })
</script>

<div id="demo1">

</div>

<input type="submit" id="btnLaunch" value="master" name="btnLaunch" style="visibility:hidden" />
<input type="submit" id="btnLaunch2" value="master2" name="btnLaunch2" style="visibility:hidden" />

@(
 Html.X().Button()
                        .ID("Spec")
                        .Icon(Icon.New)
                        .Width(50)
                        .ToolTip("New query")
                         .DirectEvents(de =>
                                              {
                                                  de.Click.Url = @Url.Action("ContextMenuTop100");
                                                  de.Click.ExtraParams.Add(new Parameter("NodeText", "Ext.get('btnLaunch').dom.value", ParameterMode.Value));
                                                  de.Click.ExtraParams.Add(new Parameter("NodeData", "Ext.get('btnLaunch2').dom.value", ParameterMode.Value));
                                                  de.Click.ExtraParams.Add(new Parameter("containerId", "ResultTabPanel", ParameterMode.Raw));
                                              }).Hidden(true));
    @(
 Html.X().Button()
                        .ID("Spec2")
                        .Icon(Icon.New)
                        .Width(50)
                        .ToolTip("New query")
                         .DirectEvents(de =>
                                              {
                                                  de.Click.Url = @Url.Action("ContextMenuTop1000");
                                                  de.Click.ExtraParams.Add(new Parameter("NodeText", "Ext.get('btnLaunch').dom.value", ParameterMode.Value));
                                                  de.Click.ExtraParams.Add(new Parameter("NodeData", "Ext.get('btnLaunch2').dom.value", ParameterMode.Value));
                                                  de.Click.ExtraParams.Add(new Parameter("containerId", "ResultTabPanel", ParameterMode.Raw));
                                              }).Hidden(true));