@model WebSQLMan.Models.ConnectionParams

@{
    ViewBag.Title = "Index";
}

<div>
    @using (Html.BeginForm("Index", "Home"))
    {
        <p>
            @Html.LabelFor(x => x.ServerName)
            @Html.TextBoxFor(x => x.ServerName)

        </p>
        <p>
            @Html.LabelFor(x => x.DataBase)
            @Html.TextBoxFor(x => x.DataBase)

        </p>
        <p>
            Authentication
            @Html.DropDownListFor(x => x.Authentication, new[]{
            new SelectListItem(){Text = "SQL Server Authentication", Value="SqlAuthentication"},
            new SelectListItem(){Text = "Windows Authentication", Value="WindowsAuthentication"}})
        </p>
        <p>
            @Html.LabelFor(x => x.Login)
            @Html.TextBoxFor(x => x.Login)
        </p>
        <p>
            @Html.LabelFor(x => x.Password)
            @Html.TextBoxFor(x => x.Password)
        </p>
        <input type="submit" value="Connect" />
    }
</div>